<!DOCTYPE html>
<html>

<head>
  <title>Resume</title>
  <style>
    @font-face {
      font-family: WorkSans;
      src: url('/Work-Sans-master/fonts/variable/WorkSans-Roman-VF.ttf') format('truetype');
      font-weight: 1 999;
    }
  </style>
  <link rel='stylesheet' href='/stylesheets/gutenberg.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/theme-loader.js'></script>
</head>

<body>
  {{{body}}}
  <script src='/javascripts/theme-toggle.js'></script>
</body>

</html>